.main-view {
    position: relative;
    width: 100%;
    /* Ajusta al tamaño deseado */
    height: 100vh;
    /* Ajusta al tamaño deseado */
    overflow: hidden;
}

.main-view video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.main-title {
    font-size: 48px; 
    color: whitesmoke; 
    text-shadow: 2px 2px 4px #000000; 
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase; 
}

.title-subtitle-container {
    padding: 3rem;
}

.subtitle {
    font-size: 18px; 
    color: whitesmoke; 
    text-shadow: 1px 1px 2px #000000; 
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
}

.title-container {
    background-color: rgba(0, 0, 0, 0.35)
}


/* Para tabletas */
@media (max-width: 768px) {
    .main-title {
        font-size: 36px; /* Tamaño de fuente más pequeño para tabletas */
    }

    .subtitle {
        font-size: 16px; /* Tamaño de fuente más pequeño para tabletas */
    }
}

/* Para dispositivos móviles */
@media (max-width: 480px) {
    .main-title {
        font-size: 24px; /* Tamaño de fuente más pequeño para móviles */
    }

    .subtitle {
        font-size: 14px; /* Tamaño de fuente más pequeño para móviles */
    }
}